Setup:

In [4]:
import numpy as np
import pandas as pd

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/netflix-prize-data/combined_data_3.txt
/kaggle/input/netflix-prize-data/movie_titles.csv
/kaggle/input/netflix-prize-data/combined_data_4.txt
/kaggle/input/netflix-prize-data/combined_data_1.txt
/kaggle/input/netflix-prize-data/README
/kaggle/input/netflix-prize-data/probe.txt
/kaggle/input/netflix-prize-data/combined_data_2.txt
/kaggle/input/netflix-prize-data/qualifying.txt

In [7]:
if not os.path.isfile('data.csv'):
    data = open('data.csv', mode='w')

files = ['../input/netflix-prize-data/combined_data_1.txt',
         '../input/netflix-prize-data/combined_data_2.txt',
         '../input/netflix-prize-data/combined_data_3.txt',
         '../input/netflix-prize-data/combined_data_4.txt'
        ]

for file in files:
    print("Opening file: {}".format(file))
    with open(file) as f:
        for line in f:
            line = line.strip()
            if line.endswith(':'):
                movie_id = line.replace(':', '')
            else:
                data.write(movie_id + ',' + line)
                data.write('\n')
data.close()

df = pd.read_csv('data.csv', names=['movie_id', 'user_id','rating','date'])
print(df.nunique())
df

Opening file: ../input/netflix-prize-data/combined_data_1.txt
Opening file: ../input/netflix-prize-data/combined_data_2.txt
Opening file: ../input/netflix-prize-data/combined_data_3.txt
Opening file: ../input/netflix-prize-data/combined_data_4.txt
movie_id     17770
user_id     480189
rating           5
date          2182
dtype: int64

           movie_id  user_id  rating        date
0                 1  1488844       3  2005-09-06
1                 1   822109       5  2005-05-13
2                 1   885013       4  2005-10-19
3                 1    30878       4  2005-12-26
4                 1   823519       3  2004-05-03
...             ...      ...     ...         ...
100480502     17770  1790158       4  2005-11-01
100480503     17770  1608708       3  2005-07-19
100480504     17770   234275       1  2004-08-07
100480505     17770   255278       4  2004-05-28
100480506     17770   453585       2  2005-03-10

[100480507 rows x 4 columns]

In [8]:
df_output = df[['user_id', 'movie_id', 'rating']]

df_output.to_csv('movie_rating.txt', sep=',', index=False, header=False)

In [9]:
with open('movie_rating.txt', 'r') as file:
    for _ in range(10):
        line = file.readline().strip() 
        if line:
            print(line)
        else:
            break

1488844,1,3
822109,1,5
885013,1,4
30878,1,4
823519,1,3
893988,1,3
124105,1,4
1248029,1,3
1842128,1,4
2238063,1,3